DATABASE_URL=
SESSION_SECRET =
PORT = 3000

BASE_URL =

FACEBOOK_APP_ID =
FACEBOOK_APP_SECRET =

INSTAGRAM_CLIENT_ID =
INSTAGRAM_CLIENT_SECRET =

SMTP_HOST = smtp.mailtrap.io
SMTP_USER =
SMTP_PASS =
SMTP_PORT = 2525

NIMBLE_READ_KEY=

S3_ENDPOINT=
S3_ACCESS=
S3_SECRET=
S3_BUCKET=
S3_BASEURL=